In [ ]:
## Q1: Tuple Operations

In [2]:
# Define the tuple
my_tuple = ((1, 2, 3), [4, 5, 6], ('apple', 'banana', 'cherry'), [7, 8, 9])

# Print all elements on a new line
print("Elements of my_tuple:")
for element in my_tuple:
    print(element)

# Create a new tuple by concatenating the first and last elements
new_tuple = my_tuple[0] + tuple(my_tuple[-1])
print("\nNew tuple by concatenating first and last elements:", new_tuple)

Elements of my_tuple:
(1, 2, 3)
[4, 5, 6]
('apple', 'banana', 'cherry')
[7, 8, 9]

New tuple by concatenating first and last elements: (1, 2, 3, 7, 8, 9)

In [ ]:
## Q2: Inventory Management

In [3]:
# Define the inventory
inventory = {
    "The Great Gatsby": {"price": 10.99, "quantity": 5},
    "Rich dad poor dad": {"price": 8.99, "quantity": 8},
    "Harry Potter": {"price": 12.50, "quantity": 2},
}

# Add a new book
inventory["The Alchemist"] = {"price": 9.99, "quantity": 10}
print("\nUpdated inventory after adding a book:", inventory)

# Get all book titles
print("\nAll book titles:", inventory.keys())

# Remove a book if it's out of stock
for book, details in list(inventory.items()):
    if details["quantity"] == 0:
        del inventory[book]
print("\nInventory after removing out-of-stock books:", inventory)

Updated inventory after adding a book: {'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}, 'The Alchemist': {'price': 9.99, 'quantity': 10}}

All book titles: dict_keys(['The Great Gatsby', 'Rich dad poor dad', 'Harry Potter', 'The Alchemist'])

Inventory after removing out-of-stock books: {'The Great Gatsby': {'price': 10.99, 'quantity': 5}, 'Rich dad poor dad': {'price': 8.99, 'quantity': 8}, 'Harry Potter': {'price': 12.5, 'quantity': 2}, 'The Alchemist': {'price': 9.99, 'quantity': 10}}

In [4]:
## Q3: Product Management

In [5]:
# Define the products dictionary
products = {
    101: {"name": "Laptop", "category": "Electronics", "price": 1200, "stock": 50},
    102: {"name": "Shirt", "category": "Apparel", "price": 25, "stock": 200},
    103: {"name": "Coffee Maker", "category": "Home Appliances", "price": 80, "stock": 30},
}

# Increase stock of "Shirt"
products[102]["stock"] += 50
print("\nUpdated stock for 'Shirt':", products[102]["stock"])

# Add a new product
products[104] = {"name": "Smartphone", "category": "Electronics", "price": 800, "stock": 100}
print("\nProducts after adding 'Smartphone':", products)

Updated stock for 'Shirt': 250

Products after adding 'Smartphone': {101: {'name': 'Laptop', 'category': 'Electronics', 'price': 1200, 'stock': 50}, 102: {'name': 'Shirt', 'category': 'Apparel', 'price': 25, 'stock': 250}, 103: {'name': 'Coffee Maker', 'category': 'Home Appliances', 'price': 80, 'stock': 30}, 104: {'name': 'Smartphone', 'category': 'Electronics', 'price': 800, 'stock': 100}}

In [6]:
## Q4: Remove Duplicates from List

In [7]:
# Define the shopping list
shopping_list = ["apple", "banana", "apple", "orange", "banana", "grape"]

# Remove duplicates
shopping_set = set(shopping_list)
print("\nShopping list after removing duplicates:", shopping_set)

Shopping list after removing duplicates: {'apple', 'grape', 'banana', 'orange'}

In [8]:
## Q5: Set Operations on Course Enrollment

In [9]:
# Define course sets
course_a = {"John", "Alice", "Bob", "David"}
course_b = {"Alice", "Eve", "Charlie", "David"}

# Difference: Students in Course A but not in Course B
diff = course_a - course_b
print("\nStudents in Course A but not in Course B:", diff)

# Symmetric Difference: Students in only one of the two courses
sym_diff = course_a ^ course_b
print("Students in only one of the two courses:", sym_diff)

Students in Course A but not in Course B: {'John', 'Bob'}
Students in only one of the two courses: {'Bob', 'Charlie', 'John', 'Eve'}

In [10]:
## Q6: Sum of Even Numbers from 1 to 50

In [11]:
# Calculate sum of even numbers
sum_of_evens = 0
for num in range(1, 51):
    if num % 2 == 0:
        sum_of_evens += num
print("\nSum of all even numbers between 1 and 50:", sum_of_evens)

Sum of all even numbers between 1 and 50: 650

In [13]:
## Q7: Multiplication Table

In [14]:
# Get user input
number = int(input("\nEnter a number between 1 and 10: "))

# Print multiplication table
print(f"\nMultiplication table for {number}:")
for i in range(1, 11):
    print(f"{number} x {i} = {number * i}")

Enter a number between 1 and 10:  4

Multiplication table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

In [15]:
## Q8: Powers of a Number

In [16]:
# Get user input
num = int(input("\nEnter a number to calculate its powers: "))

# Calculate powers using while loop
power = 1
print(f"\nPowers of {num}:")
while power <= 10:
    print(f"{num}^{power} = {num ** power}")
    power += 1

Enter a number to calculate its powers:  3

Powers of 3:
3^1 = 3
3^2 = 9
3^3 = 27
3^4 = 81
3^5 = 243
3^6 = 729
3^7 = 2187
3^8 = 6561
3^9 = 19683
3^10 = 59049

In [17]:
## Q9: Countdown

In [18]:
# Get user input
countdown = int(input("\nEnter a number to start the countdown: "))

# Perform countdown
print("\nCountdown:")
while countdown >= 0:
    print(countdown)
    countdown -= 1
print("Countdown finished!")

Enter a number to start the countdown:  5

Countdown:
5
4
3
2
1
0
Countdown finished!

In [19]:
## Q10: Star Triangle Pattern

In [20]:
# Get user input
n = int(input("\nEnter the number of rows for the triangle: "))

# Print the star triangle
print("\nRight-angled triangle pattern:")
for row in range(1, n + 1):
    print("* " * row)

Enter the number of rows for the triangle:  5

Right-angled triangle pattern:
*
* *
* * *
* * * *
* * * * *